name: Deploy

on: 
push:
  branches:
    - master

jobs:
  deploy:
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: SSH and deploy
        env: 
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > keyfile
          chmod 600 keyfile
          ssh -t -i keyfile ubuntu@ec2-3-84-137-90.compute-1.amazonaws.com "sudo bash deploy.sh"
